<!doctype html>

<html>
    <title>
        Picture
    </title>
        <body>
            <div>
                <!--<img src="/Display/{{ output_file }}" alt="Photo">-->
                <img src="/static/photo_recent.jpg" alt="Photo">
                    <!--<form action="{{output_file}}" method="post">-->
                    <form action="/Display" method="post">
                    <p> Voulez-vous garder cette photo ? </p>
                    <select name="reponse">                                    
                        <option value="oui">oui</option>
                        <option value="non">non</option>
                    </select>
                    <input type="submit" value="Valider">

                </form>
            </div>
        </body>
</html>
